.imgProjet {
    background-image: url(../assets/fond-projet.jpg);
}

.cardProjet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
}

.formProjet {
    margin: auto;
    button {
        margin: auto;
    }
}

.divProjet {
    background-color: #F2F2F2;
    width: 70%;
    margin-bottom: 30px;
    border-radius: 20px;
    display: flex;
    padding: 25px 35px;
    img {
        height: 100%;
        border-radius: 20px;
        background-size: cover;
        margin: auto;
    }
}

.mot-clef {
    color: rgb(0, 0, 0);
    list-style-type:disc;
}

.list {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    p {
        font-size: 2.5em;
    }
}

h5 {
    font-size: 25px;
}
@media screen and (min-width:1029px) {
    .listDescription {
        padding-left: 50px;
    }
    .divProjet img {
        max-width: 45%;
    }
}

@media screen and (max-width:1029px) {
    .divProjet {
        flex-direction: column-reverse !important;
        h5 {
            text-align: center;
        }
        p {
            padding-left: 40px;
        } 
        img {
            max-width: 75%;
        }
    }

}
